@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Exo+2:wght@400;700&family=Fira+Code:wght@400;700&family=Kdam+Thmor+Pro&family=Orbitron&family=Silkscreen&display=swap");
/* font-family: 'Amatic SC', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Orbitron', sans-serif; 
font-family: 'Silkscreen', sans-serif;*/

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.bg {
  background-image: url("../public/assets/bg.png");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkBg {
  background-color: transparent;
}

.darkBgText {
  color: #676e77;
  margin: 0 1rem;
  font-family: "Silkscreen";
}
.darkBgBranding {
  font-size: 1.5rem;
  max-width: fit-content;
}

.darkBgBranding:hover {
  color: #676e77;
  transform: scale(1.1);
}

.navContainer {
  max-width: 1440px;
}

.nav-link {
  font-size: 1rem;
}

.nav-link:hover {
  color: #676e77;
  transform: scale(1.1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #676e77;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #676e77;
  transform-origin: bottom;
  transition: transform 0.25s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.brandImg {
  height: 3rem;
  width: 3rem;
}

.brandText {
  color: #676e77;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.25rem;
  margin: auto;
}

.navbar-toggler {
  color: #676e77;
}

#insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 20px; /* change this to change the size*/
}
