@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Exo+2:wght@400;700&family=Fira+Code:wght@400;700&family=Kdam+Thmor+Pro&family=Orbitron&family=Silkscreen&display=swap");
/* font-family: 'Amatic SC', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Orbitron', sans-serif; 
font-family: 'Silkscreen', sans-serif;*/

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  overflow: visible;
  background-attachment: fixed;
}

.bg {
  background-image: url("../public/assets/bg.png");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkBg {
  background-color: transparent;
}

.darkNav {
  background-color: rgba(31, 31, 31, 0.9);
}

.darkBgText {
  color: #676e77;
  margin: 0 1rem;
  font-family: "Fira Code";
}
.darkBgBranding {
  font-size: 1.5rem;
  max-width: fit-content;
}

.darkBgBranding:hover {
  color: #676e77;
  transform: scale(1.1);
}

.navContainer {
  max-width: 1440px;
}

.nav-link {
  font-size: 1rem;
}

.nav-link:hover {
  color: #4b8ab6;
  transform: scale(1.1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #4b8ab6;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  /* background-color: #4b8ab6; */
  background-color: #676e77;
  transform-origin: bottom;
  transition: transform 0.25s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.brandImg {
  height: 3rem;
  width: 3rem;
}

.brandText {
  color: #676e77;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.25rem;
  margin: auto;
}

.navbar-toggler {
  color: #676e77;
}

#insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 20px; /* change this to change the size*/
}

.copyrightSymbol {
  font-family: "Fira Code", monospace;
  position: relative;
  color: #676e77;
  top: -0.5rem;
}

.name {
  font-size: 1.25rem;
  font-family: "Orbitron", "Exo 2", sans-serif;
}

.copyrightText {
  color: #676e77;
  font-family: "Fira Code", monospace;
  text-align: center;
}

.logos {
  font-size: 35px;
  transition: transform 0.25s;
}

.logos:hover {
  transform: scale(1.25);
}

.contactLinksBox {
  font-size: 1.5rem;
}

.heroText {
  color: #676e77;
  font-family: "Fira Code", monospace;
}

.dynamicText {
  color: #4b8ab6;
}

.heroContainer {
  display: flex;
  text-align: center;
}

.downloadResumeButton {
  background-color: transparent;
  border-color: #4b8ab6;
  color: #4b8ab6;
  transition: all 0.3 ease;
}

.downloadResumeButton:hover {
  background-color: #4b8ab6;
  border-color: #4b8ab6;
  color: #fff;
}

.RepoCard {
  display: flex;
  flex-direction: column;
  border-color: #676e77;
  width: 350px;
  height: 275px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.RepoCards {
  font-family: Arial, sans-serif;
  width: max-content;
  padding: 20px;
  margin-left: 8.5rem;
}

/* @media (max-width: 768px) {
  .heroImgCon {
    display: none;
  }
  .heroTextCon {
    flex-basis: 100%;
  }
} */

@media (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
  }

  .darkNav {
    margin: 0 !important;
  }

  .darkBgBranding {
    /* font-size: 0 !important; */
    margin-left: 0 !important;
    padding-left: 0%;
    margin-right: 50px !important;
    display: contents;
  }

  .brandText {
    font-size: 1.1rem !important;
  }

  .darkBgBranding > img {
    width: 1.5rem;
    height: 1.5rem;
    display: none !important;
  }

  /* .brandImg {
    display: none !important;
  } */

  .navbar-nav {
    align-items: center;
  }

  .navbar-toggler {
    margin-right: 60px;
  }

  .heroImgCon {
    display: none;
  }
  .heroContainer {
    margin-top: 50%;
  }
  .heroTextCon {
    margin-top: 2.5rem !important;
    flex-basis: 100%;
  }
  .RepoCards {
    margin-left: auto;
  }

  .RepoCard {
    width: 300px;
    margin-left: auto;
    height: fit-content;
  }
}

.repository-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.github-repo-card {
  border: 1px solid #4b8ab6;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;
  justify-content: space-between;
}

.github-repo-card h2 {
  align-content: flex-start;
  color: #4b8ab6;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}

.github-repo-card p {
  margin-bottom: 8px;
  color: #586069;
}

.details {
  display: flex;
  align-items: center;
}

.details span {
  font-size: 14px;
  color: #586069;
  margin-right: 16px;
}

.VoGButton {
  max-width: fit-content;
  align-self: center;
  display: inline-block;
  padding: 8px 16px;
  background-color: transparent;
  color: #4b8ab6;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #4b8ab6;
  transition: all 0.3s ease;
  margin-top: 50px;
}

.VoGButton:hover {
  background-color: #4b8ab6;
  color: #fff;
}
